<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <style>
        .container {
            display: flex;
            justify-content: space-between;
        }

        .list {
            width: 45%;
            padding: 0;
            margin: 0;
            list-style-type: none;
        }
    </style>
</head>

<body>
    <div class="container">
        <ul class="list">
            {{if .Articles}}
            <h2>Articles</h2>
            {{range $val := .Articles}}
            <li value="{{$val.Title}}"><a href="/article?id={{$val.Id}}">{{$val.Title}}</a></li>
            {{end}}
            {{else}}
            <li>No articles found</li>
            {{end}}
        </ul>
        <ul class="list">
            {{if .Metrics.Data }}
            <h2>Comment Deltion Metrics</h2>
            <ul>
                {{ range $entry := .Metrics.Data }}
                <li>
                    <p>Comment created at {{$entry.CreatedAt}} and deleted at {{$entry.DeletedAt}}</p>
                </li>
                {{end}}
            </ul>

            {{else}}
            <li>No comments deletion data found</li>
            {{end}}
        </ul>
    </div>
    <section>
        <h2>Create an Article</h2>
        <form action="/article" method="POST">
            <label for="title">Title:</label>
            <input type="text" id="title" name="title" required>

            <label for="author">Author:</label>
            <input type="text" id="author" name="author" required>

            <label for="content">Content:</label>
            <textarea id="content" name="content" rows="4" required></textarea>

            <button type="submit">Submit</button>
        </form>
    </section>

</body>

</html>